{% extends "appBundle::base.html.twig"%}
{% block title %} Att - {% trans %}Contracts{% endtrans %} | {% trans %}Sign In{% endtrans %}{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> 
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.frontend.css')}}">
{% endblock %}

{% block body %}
<div class="login-card">
        <p class="profile-name-card"> <img src="{{ asset('bundles/app/images/logo_front.png')}}" width="200px"></p>
        <form class="form-signin" action="{{ path('att_frontend_login') }}" method="POST">
            <input class="form-control" name="_username" type="text" required="" placeholder="{% trans %}Contract Number{% endtrans %}" autofocus="" id="inputEmail">
            <input class="form-control" name="_password" type="password" required="" placeholder="{% trans %}Password{% endtrans %}" id="inputPassword">
            
            <div class="checkbox">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">{% trans %}Remember me{% endtrans %}</label>
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">{% trans %}Sign In{% endtrans %}</button>
        </form><a href="#" class="forgot-password">{% trans %}Forgot your password{% endtrans %}?</a></div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
{% endblock%}