 {% block menulateralitems %} 
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
             Register Plan 
             <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
            <li><a href="#" id="">Sync from Web Service</a></li>
            <li><a href="#" id="">Create from Employee Schema</a></li>
            <li><a href="#" id="importMasive">Import/Update from File</a></li>
            <li><a href="#" id="create">Create or update Plan</a></li>
         </ul>
     </li>
     <li><a href="#" id="listPlan">List</a></li>
     
     
 {% endblock %}


{% block attjavascripts %}
    <script>

        $(document).ready(function(){
            
         
          $('#importMasive').click(function(){
              $('#content').load('{{ path('att_plan_importfile') }}');
          });
          
          $('#create').click(function(){
              $('#content').load('{{ path('att_plan_new') }}');
          });
          
          $('#listPlan').click(function(){
              $('#content').load('{{ path('att_plan_list') }}');
          });
          
        });

   </script>
{% endblock %}

