{% extends "employeeBundle:Default:index.html.twig"%}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">{% trans %}Dashboard{% endtrans %}</a></li> 
        <li><a href="#">{% trans %}Employee{% endtrans %}</a></li>  
        <li><a href="#">{% trans %}Department{% endtrans %}</a></li>  
        <li class="active"><a href="#">{% trans %}List{% endtrans %}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12" id="successMsg"></div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table"></i>
                <span>{% trans %}List of Department{% endtrans %}</span>
                <!-- button group --> 
                <button  data-toggle="modal"  data-target="#new_modal" type="button" data-mode="{{ app.security.token.providerKey }}"class="btn btn-default pull-right">
                  
                    <span class="fa fa-plus"></span>
                </button> 
                <div class="clearfix"></div>                     
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <div class="table table-responsive" id="table_list">
                        {% include 'employeeBundle:Department:list.table.html.twig' with {
                                'departments' : departments,
                                'mode': app.security.token.providerKey
                            } only 
                        %}
                    </div>
                </div> 
            </div>        
        </div>
    </div>

    <div class="modal fade" id="new_modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans %} New Department {% endtrans %} </h4>
                </div>

                <div class="modal-body" id="modal-body-new">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" id="new_submit" value="{%trans%} Save {% endtrans %}">
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans %} Edit {% endtrans %}{% trans %} Department {% endtrans %} </h4>
                </div>

                <div class="modal-body" id="modal-body-edit">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" id="edit_submit" value="{%trans%} Save {% endtrans %}">
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent()}}
    <script type="text/javascript">

        
        $('#new_modal').on('show.bs.modal', function (e) {   

            var mode = $(e.relatedTarget).data('mode');        
            $.ajax({
                url: Routing.generate('employee_department_new', {
                    mode: mode,
                }),
                type: 'POST',
                success: function (data) {
                    $('#modal-body-new').html(data['form']);
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });

        $('#edit_modal').on('show.bs.modal', function (e) {   
            var department = $(e.relatedTarget).data('id');
            var mode = $(e.relatedTarget).data('mode');        
            $.ajax({
                url: Routing.generate('employee_department_edit', {
                    mode: mode,
                    department: department

                }),
                type: 'POST',
                success: function (data) {
                    $('#modal-body-edit').html(data['form']);
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });


        $(document).on('click', '#new_submit', function (e) {
            e.preventDefault();
            var formElement = document.getElementById('department-form');
            var formData = new FormData(formElement);
            
            $.ajax({
                cache: false,
                type: formElement.method,
                url: formElement.action,
                data: formData,
                contentType: false,
                processData: false
            }).done(function (data) {
                if (data['status'] !== true) {
                    $('#modal-body-new').html(data['form']);
                } else {
                    $('#successMsg').html("\
            <div class='alert alert-success'>\n\
                <strong>" + data['message'] + "</strong>\n\
            </div>");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                    $('#new_modal').modal('hide');
                    $('#table_list').html(data['table']);
                    $('.alert-success').fadeOut(7000, function () {
                        $('.alert-success').remove();
                    });
                }
            });
        });


        $(document).on('click', '#edit_submit', function (e) {
            e.preventDefault();
            var formElement = document.getElementById('department-form');
            var formData = new FormData(formElement);
            
            $.ajax({
                cache: false,
                type: formElement.method,
                url: formElement.action,
                data: formData,
                contentType: false,
                processData: false
            }).done(function (data) {
                if (data['status'] !== true) {
                    $('#modal-body-edit').html(data['form']);
                } else {
                    $('#successMsg').html("\
            <div class='alert alert-success'>\n\
                <strong>" + data['message'] + "</strong>\n\
            </div>");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                    $('#edit_modal').modal('hide');
                    $('#table_list').html(data['table']);
                    $('.alert-success').fadeOut(7000, function () {
                        $('.alert-success').remove();
                    });
                }
            });
        });

    </script>

{% endblock %}






