{% block attstylesheets %}

{% endblock %}

{% block content_data %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default" >
            <div class="panel-heading">
                Editar Certificado
            </div> 
            <div class="panel-body">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                <form method="POST" class="attForm" id="attForm" action="{{ path('att_certificate_update', { 'id' : entity.id }) }}" name="atcertificado" {{ form_enctype(form) }}>
                    <div id="form_body">
                        {% include formPath with {'form': form} %}
                    </div>
                </form>
            </div>
            <div class="panel-footer" id="form_error">
            </div>        
        </div>
    </div>    
                      
{% endblock %}
{% block attjavascripts %}
    
    <script src="{{ asset('bundles/att/js/attForm.js') }}" ></script> 

   
   <script>
       $(document).ready(function() {
            buildFieldsForm();
            initForm();
        });
   </script>

{% endblock %}