











{% block menulateralitems %} 
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fa fa-certificate"aria-hidden="true"></i>
            Certificate Module
        </a>    
    </li>

    {% if is_granted('ROLE_FRONTEND') %}
        <li class="nav-item">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Register New 
                <span class="caret"></span>
            </a>
            <ul class="sidebar-second-level collapse" id="collapseComponents">
                <li><a  href="#" id="createCertificate"><i class="fa fa-cube" aria-hidden="true"></i> Other</a></li>
                <li><a  href="#" id="createCertificateMedical"> <i class="fa fa-medkit" aria-hidden="true"></i> Medical</a></li>
                <li><a  href="#" id="createCertificateStude"><i class="fa fa-university" aria-hidden="true"></i> Stude</a></li>
            </ul>
        </li>
    {% endif %}

    <li class="nav-item"><a class="nav-link" href="#" id="startWorkFlow"><i class="fa fa-check" aria-hidden="true"></i> Authorize Certificates </a></li>
    <li class="nav-item"><a class="nav-link" href="#" id="listCertificate"><i class="fa fa-list" aria-hidden="true"></i> List Certificates </a></li>
    <li class="nav-item"><a class="nav-link" href="#" id="listWfCertificate"><i class="fa fa-list" aria-hidden="true"></i> List Workflows </a></li>
    {% endblock %}


{% block attjavascripts %}
    <script>

        $(document).ready(function () {


        });

    </script>
{% endblock %}


