             
<div class="panel panel-default" id="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#collapseMsg" data-toggle="collapse">
                {% trans %}Messagges{% endtrans %}
                <span class="badge">{{ msgs |length }}</span>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
                <a href="#" data-toggle="modal" data-target="#newMsg">
                <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
            </a>    
        </h4>    
    </div>
    <div class="panel-collapse collapse in" id="collapseMsg">
        {% include 'attBundle:Workflowmsg:table.html.twig' with {'msgs' : msgs} %}
    </div>
            
    <div id="newMsg" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %} New {% endtrans %} {% trans %} Message {% endtrans %}</h4>
              </div>
              <div class="modal-body">
                {% render(controller('attBundle:Workflowmsg:new',{'mode':mode, 'wf':wf})) %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{% trans %} Close {% endtrans %} </button>
              </div>
            </div>

        </div>
    </div>        
            
</div> 
