             
<div class="panel panel-default" id="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#collapseMsg" data-toggle="collapse">
                Messagges
                <span class="badge">{{ msgs |length }}</span>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </a>
                <a href="#" data-toggle="modal" data-target="#newMsg">
                <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
            </a>    
        </h4>    
    </div>
    <div class="panel-collapse collapse in" id="collapseMsg">
        <table class="table table-responsive">
            <thead>
                    <th>Date</th>
                    <th>State</th>
                    <th>Message</th>
            </thead>
            <tbody>
                {% for wfmsg in msgs %}
                    
                    <td>{{ wfmsg.createAt | date ('Y-m-d H:i:s ') }}</td>
                    <td>{{ wfmsg.wfstate }}</td>
                    <td>{{ wfmsg.details }}</td>
                
                {% endfor %}
            </tbody>
                
        </table>
    </div>
            
    <div id="newMsg" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Messagge</h4>
              </div>
              <div class="modal-body">
                {% render(controller('attBundle:Workflowmsg:new',{'wf':wf})) %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

        </div>
    </div>        
            
</div> 
