{% extends modal
    ? 'employeeBundle:Default:index.html.twig' 
    : null %}   

{% block title %}
    Contract - Add Rest Days
{% endblock title %}
{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">{% trans %}Dashboard{% endtrans %}</a></li> 
            <li><a href="#">{% trans %}Employee{% endtrans %}</a></li>                                
            <li><a href="#">{% trans %}Contract{% endtrans %}</a></li>  
            <li class="active">{% trans %}Add Rest Days{% endtrans %}</li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-archive-o"></i>   
                <span>{% trans %} Rest Days Assigned {% endtrans %}</span>
            </div>
            <div class="panel-body">

                <div class="alert alert-success" role="alert">
                    {{ message | trans}}
                </div>


            </div>
        </div>
    </div>

{% endblock content %}
