{% extends 'appBundle:dev:index.html.twig' %}


{% block content %}
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">
                
                    Access Control
                
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">
                
                    Attendances

            </a>
        </li>
        <li class="breadcrumb-item active">
  
                List

        </li>
    </ol>
    {% if atts %}
        <div>
            {% include 'ctrlaccBundle:Attendance:table.list.html.twig' with {'atts' : atts} %}
        </div>
    {% endif %}       
{% endblock %}
